# Python 컴파일 파일
__pycache__/
*.py[cod]
*.pyo
# 가상환경 폴더
financeenv/
env/
.venv/
.env/
# 환경변수 파일
*.env
# 로그 파일
*.log

# 모델 파일
*.h5
*.hdf5
*.ckpt
*.pth
*.pt

# 프로젝트 진행 중 작성한 임시파일
API 설계지침.txt
